@import '../base';
@import '../variables';

.radio {
    cursor: pointer;
    position: relative;
    margin-right: 2rem;
}

input[type="radio"] {
    visibility: hidden;
}


input[type="radio"]::after {
    visibility: visible;
    box-sizing: border-box;
    cursor: pointer;
    content: '';
    display: block;
    position: absolute;
    left: -0.5rem;
    top: 0.3rem;
    width: 0.4rem;
    height: 0.4rem;
    background: $white;
    @include border($black);
    border-image-outset: 1.3;
}

// .radio:hover input[type="radio"]::after {
//     background: mix($white, $primary, 50%);
// }

input[type="radio"]:checked::after {
    background: $secondary;
}