body{font-family: 'Press Start 2P', sans-serif;}

h1{font-size:1.6rem;}

.sidebar > .sidebar-links > li > a.sidebar-link {font-size: 0.8rem;}

.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-bottom: 1rem;
}